input:is(#atas2023, #editais2023, #others):checked + .accordion .header .icon .fa-caret-up {
  display: inline;
  color: var(--background-primary);
}

input:is(#atas2023, #editais2023, #others):not(:checked) + .accordion .header .icon .fa-caret-down {
  display: inline;
}

input:is(#atas2023, #editais2023, #others):checked + .accordion .header {
  background-color: var(--primary);
  color: var(--background-primary);
}

input:is(#atas2023, #editais2023, #others):checked + .accordion .panel {
  max-height: 150px;
}
