footer {
  margin-top: 16px;
  padding: 4px;
  background-color: var(--footer);
  color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .departments-container {
  display: none;
}

footer .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

footer .logo .icon {
  font-size: 1.8rem;
  padding: 8px 12px;
  color: var(--primary);
}

footer .logo .title {
  font-size: 1.4rem;
}

footer .developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .developed-by .label {
  font-weight: 300;
  font-size: .9rem;
  color: var(--background-secondary);
}

footer .developed-by .who {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .developed-by .who .group {
  font-weight: bold;
  color: var(--primary-light-2);
}

@media only screen and (min-width: 800px) {
  footer .logo {
    justify-content: flex-start;
    padding-left: 24px;
  }

  footer .logo .icon {
    font-size: 1.4rem;
  }

  footer .logo .title {
    font-size: 1.2rem;
  }

  footer .information {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .departments-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: .85rem;
  }
}
