main header {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  height: fit-content;
}

main header .hero-banner {
    display: none;
}

main header .title h2 {
  color: var(--primary);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

main p {
  margin: 8px;
  padding: 8px;
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-primary);
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

.graph {
  width: 100%;
}

main img {
  width: 100%;
  object-fit: cover;
}

main p.caption {
  color: var(--primary-light);
  font-size: .8rem;
}

@media only screen and (min-width: 660px) {
  main p {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (min-width: 800px) {
  main header {
    --h_sz: 60dvh;
    position: relative;
    height: var(--h_sz);
  }

  main header :is(div.hero-banner, .title) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  main header .hero-banner {
    z-index: 1;
    display: block;
  }

  main header .hero-banner .filter {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0 0 0 / .3);
    width: 100%;
    height: var(--h_sz);
    z-index: 2;
  }

  main header .title {
    z-index: 3;
    height: var(--h_sz);
    display: flex;
    justify-content: center;
    align-items: center;
}

  main header .title h2 {
    color: var(--background-primary);
    text-align: left;
    padding: 1.8rem;
    font-size: 2.5rem;
    width: 100%;
    text-shadow: 1px 0 2px rgba(0 0 0 / .3);
  }

  main header .hero-banner img {
    width: 100%;
    height: var(--h_sz);
    object-fit: cover;
    opacity: .6;
  }
}

@media only screen and (min-width: 1000px) {
  main img {
    height: 360px;
    width: 80%;
    margin: 0 auto;
  }

  main header .title h2 {
    padding: 2rem;
    font-size: 3.5rem;
    width: 75%;
  }

  main p {
    width: 60%;
    margin: 16px auto;
  }

  .graph {
    display: flex;
    justify-content: center;
  }
}
