section.restaurants {
  padding: 4px;
}

section.restaurants .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px;
  padding-bottom: 20px;
}

section.restaurants .header :is(i, h2) {
  font-size: 1.5rem;
}

.caroussel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}

.caroussel-container-slideshow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.caroussel-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color .4s ease-out,
              box-shadow .4s ease-out;
  font-size: 1.5rem;
  border: none;
  color: var(--primary-dark);
  cursor: pointer;
  background: transparent;
}

.caroussel-button:disabled {
  color: var(--text-primary);
  opacity: 0.7;
  cursor: not-allowed;
}

.caroussel-button:not(:disabled):hover {
  box-shadow: 2px 2px 4px rgba(0 0 0 / .15);
  background-color: var(--primary-light-2);
  color: var(--primary-dark-2);
}

#caroussel {
  height: 160px;
  width: 280px;
  background-color: lightgrey;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0 0 0 / .15);
  transition: transform 0.4s ease, box-shadow 0.2s ease;
}

.main-slide {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide-animation {
  animation: slide 16s ease-out infinite;
}

.slide {
  height: 160px;
  width: 280px;
  position: relative;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  20% {transform: translateX(0);}
  30% {transform: translateX(-280px);}
  50% {transform: translateX(-280px);}
  60% {transform: translateX(-560px);}
  70% {transform: translateX(-560px);}
  80% {transform: translateX(-840px);}
  90% {transform: translateX(-840px);}
}

.slide .content {
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(
    0deg,
    rgba(0,0,0,0.75) 0%,
    rgba(0,0,0,0.6) 30%,
    rgba(255,255,255,0) 100%
  );
  padding: 4px;
  color: var(--background-secondary);
  bottom: 0;
  left: 0;
  width: 100%;
  transition: background 0.4s ease;
}

.slide .content .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  transform: translateY(100%);
  transition: transform 0.4s ease-out;
}

.slide .content .details {
  transform: translateY(200%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.2s ease;
}

#caroussel:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 2px rgba(0 0 0 / .35);
}

.slide .content:hover :is(.title, .details) {
  transform: translateY(0%);
  opacity: 1;
}

.slide .content:hover {
  background: linear-gradient(
    0deg,
  rgba(0,0,0,0.75) 0%,
  rgba(0,0,0,0.7) 80%,
  rgba(255,255,255,0) 100%
  );
}

.slide .content .details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 4px;
}

.slide .content .details .icon {
  font-size: 1.3rem;
  color: var(--vermillion);
}

.caroussel-controls {
  padding: 8px;
  margin-top: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.caroussel-loader {
  --load-time: 2.5s;
  outline: 5px solid var(--primary-light-2);
  outline-offset: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
  padding: 0.4rem 1.4rem;
  width: 160px;
}

.caroussel-loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light-2);
  z-index: 2;
  animation: loading var(--load-time) ease-in-out infinite alternate;
  animation-delay: 1s;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

section#card-about {
  width: 100%;
  padding: 8px;
  padding-bottom: 32px;
  background-color: var(--primary);
  position: relative;
  color: var(--background-secondary);
}

section#card-about .title {
  padding: 8px 16px;
  background-color: var(--text-primary);
  color: var(--background-primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  border-radius: 8px;
}

section#card-about .quote {
  display: inline-flex;
  justify-content: center;
  padding: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

section#card-about .details {
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
}

.btn {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  border: none;
  color: var(--text-primary);
}

section#card-about .see-more {
  background-color: var(--text-primary);
  color: var(--background-primary);
  font-size: .9rem;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 120px;
  position: absolute;
  bottom: -16px;
  right: 5%;
  box-shadow: 1px 1px 3px rgba(0 0 0 / .15),
              3px 3px 6px rgba(0 0 0 / .25);
  transition: all .4s ease-out;
}

section#card-about .see-more:hover {
  background-color: var(--primary-dark-2);
  box-shadow: 1px 1px 1px rgba(0 0 0 / .2),
              3px 3px 3px rgba(0 0 0 / .3);
}

section#contact {
  margin-top: 32px;
  padding: 12px
}

section#contact .card {
  background-color: var(--background-primary);
  box-shadow: 1px 1px 3px rgba(0 0 0 / .15),
              3px 3px 6px rgba(0 0 0 / .25);
  padding: 4px;
}

section#contact .card .title {
  background-color: var(--primary);
  font-family: 'MuseoModerno', sans-serif;
  font-weight: bold;
  color: var(--background-primary);
  padding: 8px;
  padding-left: 12px;
  margin: 4px
}

section#contact .card .contacts-list {
  list-style-type: none;
  margin: 4px;
  padding: 8px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.contacts-list .contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 1.2rem;
}

.contact-item i {
  font-size: 1.5rem;
}

.contact-item.whatsapp i {
  color: var(--primary-dark);
}

.contact-item.email i {
  color: var(--honolulu-blue);
}

.contact-item.address i {
  color: var(--vermillion);
}

@media only screen and (min-width: 660px) {
  section.restaurants {
    padding: 8px;
  }

  section.restaurants .header :is(i, h2) {
    font-size: 1.8rem;
  }

  #caroussel, .slide {
    height: 240px;
    width: 360px;
  }

  .main-slide {
    width: 1440px;
  }

  section#card-about {
    padding: 0;
    padding-bottom: 40px;
    margin-top: 12px;
  }

  section#card-about .title {
    padding: 24px 20px;
    padding-left: 24px;
    font-size: 1.4rem;
    border-radius: 0;
  }

  section#card-about .quote {
    width: 100%;
    font-size: .9rem;
  }

  section#card-about .details {
    margin: 8px;
    letter-spacing: 1px;
    line-height: 24px;
  }

  section#card-about .see-more {
    bottom: unset;
    right: 3%;
    top: 16px;
    box-shadow: unset;
    background-color: unset;
    outline: 3px solid var(--background-primary);
    outline-offset: 2px;
  }

  section#card-about .see-more:hover {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    outline-color: var(--primary);
  }

  section#contact {
    margin-top: 24px;
  }

  section#contact .card {
    width: 75%;
    margin: 0 auto;
    padding: 8px;
  }

  section#contact .card .contacts-list {
    gap: 24px
  }

  @keyframes slide {
    20% {transform: translateX(0);}
    30% {transform: translateX(-360px);}
    50% {transform: translateX(-360px);}
    60% {transform: translateX(-720px);}
    70% {transform: translateX(-720px);}
    80% {transform: translateX(-1080px);}
    90% {transform: translateX(-1080px);}
  }
}

@media only screen and (min-width: 800px) {
  section#card-about .details {
    margin: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  #caroussel, .slide {
    height: 300px;
    width: 500px;
  }

  .main-slide {
    width: 2000px;
  }

  section#card-about .details {
    margin: 8px auto;
    width: 75%;
  }

  section#contact .card {
    width: 60%;
    margin: 0 auto;
    padding: 12px;
  }

  @keyframes slide {
    20% {transform: translateX(0);}
    30% {transform: translateX(-500px);}
    50% {transform: translateX(-500px);}
    60% {transform: translateX(-1000px);}
    70% {transform: translateX(-1000px);}
    80% {transform: translateX(-1500px);}
    90% {transform: translateX(-1500px);}
  }
}
