* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #517352;
  --primary-dark: #175919;
  --primary-dark-2: #09360b;
  --primary-light: #7D9E7E;
  --primary-light-2: #9fb9a0;
  --background-primary: #F3F3F3;
  --background-secondary: #EEF0F0;
  --text-primary: #1E1E24;
  --footer: #5A1F0C;
  --vermillion: #F64740;
  --honolulu-blue: #007CBE;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: var(--text-primary);
  background-color: var(--background-secondary);
}

.link {
  text-decoration: none;
  color: var(--honolulu-blue);
  font-size: 1.05rem;
  font-weight: 500;
  font-family: 'MuseoModerno', sans-serif;
  background: linear-gradient(
    90deg,
    rgba(212, 212, 245) 0%,
    rgba(135, 138, 245) 50%,
    rgba(82, 82, 245) 100%
  );
  background-size: 0% 3px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background .4s ease-out;
}

.link:hover {
    background-size: 100% 3px;
}
