footer {
  margin-top: 16px;
  padding: 4px;
  background-color: var(--footer);
  color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .departments-container {
  display: none;
}

footer .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

footer .logo .icon {
  font-size: 2rem;
  padding: 8px 12px;
  color: var(--primary);
}

footer .logo .title {
  font-size: 1.6rem;
}

footer .developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .developed-by .label {
  font-weight: 300;
  font-size: .9rem;
  color: var(--background-secondary);
}

footer .developed-by .who {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .developed-by .who .group {
  font-weight: bold;
  color: var(--primary-light-2);
}

@media only screen and (min-width: 800px) {
  footer .logo {
    justify-content: flex-start;
    padding-left: 24px;
  }

  footer .logo .icon {
    font-size: 1.6rem;
  }

  footer .logo .title {
    font-size: 1.4rem;
  }

  footer .information {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .departments-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: .85rem;
  }
}

.tooltip {
  position: relative;
  text-decoration: none;
  border-bottom: 2px dotted var(--background-secondary);
  isolation: isolate;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(15 15 15 / .8);
  color: white;
  text-align: center;
  padding: 6px 0;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity .4s;
  font-size: 1rem;
  font-weight: normal;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(15 15 15 / .8) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
